* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

body{
    width: 1708px;
    height: 8298px;
}

.container {
    width: 1318px;
    /* height: 100vh; */
    /* background-color: aqua; */
    margin: 0 auto;
}
.header {
    margin-top: 14px;
    height: 48px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    height: 44px;
    align-items: center;
}
.nav__ul {
    margin-left: 473px;
    display: flex;
    width: 375px;
    justify-content: space-between;
}
.headline3 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 22px;
}

.letter__red {
    color: #e3256b;
}

.label {
    color: var(---75, rgba(77, 28, 21, 0.75));
    font-family: Montserrat-Bold;
    font-size: 14px;
    line-height: 20px;
    
}

.nav__ul li {
    list-style-type: none;
}

    .nav__ul li a {
        text-decoration: none;
    }

.btn-call {
    width: 174px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background:  #e3256b;;
    color: var(--white, #FFF);
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */
}


.main_hero {
    display: flex;
    margin-top: 63px;
    justify-content: space-between;
    align-items: center;
    width: 1151px;
    height: 700px;
    margin-left:273px;
}

.main_hero-descript {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 564px;
    height: 280.75px;
}

.headline1 {
    color: var(---75, rgba(77, 28, 21, 0.75));
    font-family: Montserrat;
    font-size: 48px;
    line-height: 64px;
}

.headline1-h1 {
color: var(---75, rgba(77, 28, 21, 0.75));
    font-family: Montserrat;
    font-size: 48px;
    line-height: 64px;
	width: 544px;

}

.headline4 {
    color: var(---75, rgba(77, 28, 21, 0.75));
    font-size: 18px;
    line-height: 28px;
    font-family: Montserrat-Medium;
}

.main_hero_p2 {
    margin-top: 48px;
    margin-bottom: 32px;
}

.img {
    margin-top: 250px;
    margin-left: 250px;
    width: 465px;
    height: 700px;
}

.div-2{
    width: 1402px;
height: 1168px;
margin-left: 153px;
margin-top:184px;
}

.h1-div-2{
    
    color: var(---100, #5C4948);
text-align: center;

/* Headline2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 54px; /* 135% */
}

.ul-section2{
    
        list-style: none;
        display: flex;
        flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top:102px;
}

.section2-ul{
    width: 393px;
height: 459px;
flex-shrink: 0;

}

.img-div-2{
    width: 352px;
    height: 323px;
    flex-shrink: 0;
    border-radius: 32px;

}

.cart{
    width: 351px;
height: 323px;
flex-shrink: 0;
border-radius: 32px;
background: #FFF;

/* shadow */
box-shadow: 0px 20px 50px 0px #5C4948;
margin-top: -187px;
margin-left:42px;
}

.p-div-2{
    width: 297px;
height: 29px;
flex-shrink: 0;
color: #0B0B0B;
text-align: center;

/* Headline4 */
font-family: Montserrat-Medium;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
margin-top: 204px;
float: left;
margin-left:27px
}

.button-div-2{
    width: 174px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background:  #e3256b;;
    color: var(--white, #FFF);
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */
margin-left:89px;
margin-top:18px
}

.ul-section2-2{
    list-style: none;
        display: flex;
        flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top:94px
}

.div-3{
    width: 1382px;
height: 844px;
margin-top:176px;
margin-left:163px;
}

.h1-div-3{
    color: var(---100, #5C4948);
    text-align: center;
    
    /* Headline2 */
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px; /* 135% */
    
}

.section-div-3{
    width: 1382px;
height: 442px;
flex-shrink: 0;
margin-top:54px;
}

.ul-section3{
    list-style: none;
    display: flex;
    flex-direction: row;
display: flex;
justify-content: space-between;
}

.section3-ul{
    display: inline-flex;
padding: 32px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 35px;
border-radius: 128px 32px 32px 32px;
background: #FFF;

/* shadow */
box-shadow: 0px 20px 50px 0px #5C4948;
width: 352px;
    height: 323px;
}

.section3-ul-cent{
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 128px 32px 32px 32px;
    background: #FFF;
    
    /* shadow */
    box-shadow: 0px 20px 50px 0px #5C4948;
    margin-top:55px;
    width: 352px;
    height: 323px;
}

#circle {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 100px;
    background: linear-gradient(9deg, #e3256b -73.89%, rgba(208, 73, 103, 0.00) 119.54%, rgba(208, 73, 103, 0.42) 119.54%);
    display: flex;
    justify-content: center ;
    align-items: center;
}

.img-div-3{
    width: 66px;
height: 73px;
flex-shrink: 0;

}

.p-div-3{
    color: #000;
    text-align: center;
    
    /* Headline4 */
    font-family: Montserrat-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    width: 332px;
height: 43px;
flex-shrink: 0;
}

.p-div-3-2{
    width: 352px;
height: 126px;
flex-shrink: 0;
color: #000;
text-align: center;

/* body1 */
font-family: Montserrat-medium;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.section-div-3-2{
    width: 1382px;
height: 178px;
flex-shrink: 0;
border-radius: 32px 128px 32px 32px;

background: linear-gradient(9deg, #e3256b -73.89%, rgba(208, 73, 103, 0.00) 119.54%, rgba(208, 73, 103, 0.42) 119.54%);
margin-top:116px;
}

.ul-section3-2{
    list-style: none;
    display: flex;
    flex-direction: row;
display: flex;
justify-content: space-around;

}

.section3-ul2-2{
    width: 231.979px;
height: 80px;
flex-shrink: 0;
margin-top:49px;
}

.h1-section3-ul2{
    color: var(---100, #5C4948);
text-align: center;

/* Headline3 */
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 142.857% */
}

.p-div-3-3{
    color: var(---100, #5C4948);
text-align: center;

/* body1 */
font-family: Montserrat-Bold;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 20px;
}

.div-4{
    width: 1708px;
height: 824px;
margin-top:208px;
}

.img-div-4{
    width: 701px;
height: 744px;
flex-shrink: 0;
border-radius: 32px 128px 32px 32px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
float: left;
margin-left: 196px;
margin-top: 144px;
}

.section-div-4{
    width: 1708px;
height: 760px;
flex-shrink: 0;
background: var(---10, rgba(152, 90, 85, 0.10));
margin-top: 64px;

}

.section-section-div-4{
    width: 594px;
height: 418px;
flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-left:995px;
}

.h1-section4{
   
height: 49px;
flex-shrink: 0;
color: var(---100, #5C4948);
text-align: center;

/* Headline3 */
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 142.857% */
}

.input-div-4{
    background: #FFF;
    border: none;
    width: 591px;
height: 66px;
flex-shrink: 0;
margin-top:29px;
}

.input-div-4::placeholder{

    text-align: left;
    padding-left: 13px;
    color: #000;


/* body2 */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}

.input-div-4-file{
    background: #FFF;
    border: none;
    width: 591px;
height: 66px;
flex-shrink: 0;
margin-top:29px;
}

.input-div-4-file::placeholder{

    text-align: left;
    padding-left: 13px;
    color: #000;


/* body2 */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}

.button-div-4{
    width: 174px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background:  #e3256b;
    color: var(--white, #FFF);
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */
margin-top: 38px;
}

.div-5{
    width: 1164px;
height: 385px;
margin-left:272px;
margin-top:96px;
}

.h1-div-5{
    color: var(---100, #5C4948);

    /* Headline2 */
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px; /* 135% */
    text-align: center;
}

.section-div-5{
    width: 1164px;
height: 259px;
flex-shrink: 0;
margin-top:72px;
}

.ul-section5{
    list-style: none;
    display: flex;
    flex-direction: row;
display: flex;
justify-content: space-between;
}

.section5-ul{
    display:    flex;
    width: 261px;
height: 259px;
flex-direction: column;

align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 32px;
background: linear-gradient(9deg, #e3256b -73.89%, rgba(208, 73, 103, 0.00) 119.54%, rgba(208, 73, 103, 0.42) 119.54%);
}

.h1-section5{

left: 119px;
top: 17px;
color: var(---100, #5C4948);
text-align: center;

/* Headline2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 54px; /* 135% */
margin-top: 17px;
}

.p1-section5{
    color: var(---100, #5C4948);

/* Headline4 */
font-family: Montserrat-Medium;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
margin-top: 27px;
}

.p2-section5{
    color: var(---100, #5C4948);
text-align: center;

/* body1 */
font-family: Montserrat-Medium;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 197px;
height: 62px;
margin-top: 7px;
}

.div-6{
    width: 1144px;
    height: 566px;
    margin-top:105px;
    margin-left:282px;
}

.h1-div-6{
    color: var(---100, #5C4948);

    /* Headline2 */
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px; /* 135% */
    text-align: center;
}

.section-div-6{
    width: 1144px;
height: 422px;
flex-shrink: 0;
margin-top:90px;
}

.ul-section6{
    list-style: none;
    display: flex;
    flex-direction: row;
display: flex;
justify-content: space-between;
}

.section6-ul{
    display: inline-flex;
padding: 20px 21px 35px 21px;
flex-direction: column;
align-items: center;

border-radius: 128px 32px 32px 32px;
background: var(--, #FFF);
box-shadow: 0px 20px 50px 0px #5C4948;
}

.img-div-6{
    width: 147px;
height: 98px;
flex-shrink: 0;
}

.p-section6{
    width: 286px;
    color: var(---100, #5C4948);
text-align: center;

/* body1 */
font-family: Montserrat-Medium;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 23px;
}

.img-div-6-2{
    width: 205px;
height: 40px;
flex-shrink: 0;
margin-top: 20px;
}

.h1-section6{
    width: 59px;
    color: var(---100, #5C4948);

/* Headline4 */
font-family: Montserrat-Medium;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
}

.img-section-6{
    width: 96px;
height: 96px;
flex-shrink: 0;
border-radius: 96px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
margin-left:116px;
margin-top:-37px;
}

.div-7{
    width: 1708px;
    height: 780px;
    margin-top:84px;
}

.section-div-7{
    width: 1708px;
height: 703px;
flex-shrink: 0;
background: var(---10, rgba(152, 90, 85, 0.10));

}

.s-s-s-div-7{
    width: 1305px;
height: 780px;
flex-shrink: 0;
display: flex;
flex-direction: row;

margin-left:279px;
}

.section-section-div-7{
    width: 554px;
height: 438px;
flex-shrink: 0;
margin-top:56px;
display: flex;
flex-direction: column;
}

.h1-section7{

flex-shrink: 0;
color: var(---100, #5C4948);



/* Headline3 */
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 142.857% */
}

.h1-section7-2{

    flex-shrink: 0;
    color: var(---100, #5C4948);
    /* Headline3 */
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 142.857% */
}

.p1-section7{
    width: 277px;
height: 28px;
flex-shrink: 0;
color: var(---100, #5C4948);

/* Headline4 */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
white-space: pre;
margin-top:10px;
}

.input-div-7{
    background: var(--gray-25, rgba(160, 154, 163, 0.25));;
    border: none;
    width: 544px;
height: 54px;
flex-shrink: 0;
flex-shrink: 0;
margin-top:30px;
}

.input-div-7::placeholder{

    text-align: left;
    padding-left: 13px;
    color: var(---100, #5C4948);


/* body2 */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}

.input-div-7-file{
    background: var(--gray-25, rgba(160, 154, 163, 0.25));;
    border: none;
    width: 544px;
height: 54px;
flex-shrink: 0;
flex-shrink: 0;
margin-top:29px;
}

.input-div-7-file::placeholder{

    text-align: left;
    padding-left: 13px;
    color: var(---100, #5C4948);


/* body2 */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}  

.input-div-7-1{
    background: var(--gray-25, rgba(160, 154, 163, 0.25));;
    border: none;
    width: 544px;
height: 54px;

flex-shrink: 0;
margin-top:10px;
}

.input-div-7-1::placeholder{

    text-align: left;
    padding-left: 13px;
    color: var(---100, #5C4948);


/* body2 */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}

.button-div-7{
    display: flex;
width: 184px;
height: 48px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
background:  #D4839D;;
color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */
margin-top:43px;
}

.img-div-7{
    
    width: 600px;
    height: 710px;
    margin-left:107px;
}

.div-8{
    width: 1422px;
height: 746px;
margin-left: 143px;
}

.h1-div-8{
    
    color: var(---100, #5C4948);
text-align: center;

/* Headline2 */
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 54px; /* 135% */
}

.ul-section8{
    
        list-style: none;
        display: flex;
        flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top:75px;
}

.section8-ul{
    width: 393px;
height: 459px;
flex-shrink: 0;

}

.img-div-8{
    width: 391.41px;
height: 432.778px;
flex-shrink: 0;
    border-radius: 32px;

}

.cart-2{
    width: 390.298px;
height: 432.778px;
flex-shrink: 0;
    flex-shrink: 0;
flex-shrink: 0;
border-radius: 32px;
background: #FFF;

/* shadow */
box-shadow: 0px 20px 50px 0px #5C4948;
margin-top: -255px;
margin-left:42px;
}

.p-div-8{
    width: 330.252px;
height: 38.856px;
flex-shrink: 0;
flex-shrink: 0;
color: #0B0B0B;
text-align: center;

/* Headline4 */
font-family: Montserrat-Medium;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
margin-top: 273px;
float: left;
margin-left:27px
}

.button-div-8{
    width: 174px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background:  #D4839D;;
    color: var(--white, #FFF);
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */
margin-left:99px;
margin-top:24px
}

.div-9{
    width: 1708px;
    height: 608px;
    margin-top: 153px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-div-9{
    width: 1708px;
height: 528px;
flex-shrink: 0;
background: var(---10, rgba(152, 90, 85, 0.10));

}

.s-s-s-div-9{
    
width: 435.077px;
height: 424px;
flex-shrink: 0;
margin-top: 52px;
margin-left: 142px;
}

.h1-div-9{
    width: 327.385px;
    color: var(---100, #5C4948);

/* Headline3 */
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 142.857% */
}

.p1-div-9-1{
    width: 395px;
    color: var(---100, #5C4948);

/* body1 */
font-family: Montserrat-Medium;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top:21px
}

.h1-div-9-2{
    width: 327.385px;
    color: var(---100, #5C4948);

/* Headline3 */
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 142.857% */
margin-top:23px;
}

.p1-div-9-2{
    width: 158px;
    color: var(---100, #5C4948);

    /* body1 */
    font-family: Montserrat-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:14px;

}

.h1-div-9-3{
    width: 327.385px;
    color: var(---100, #5C4948);

/* Headline3 */
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 142.857% */
margin-top:14px;

}

.p1-div-9-3{
    width: 431.846px;
    color: var(---100, #5C4948);

    /* body1 */
    font-family: Montserrat-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:14px;

}

.img-div-9-1{
    width: 56px;
height: 60px;
flex-shrink: 0;
margin-top:0px;
}

.img-div-9-2{
    width: 50px;
    height: 49px;

flex-shrink: 0;
margin-top:47px;
margin-left:3px;
}

.img-div-9-3{
    width: 61px;
    height: 51px;
    
flex-shrink: 0;
margin-top:4px;
margin-left:18px;
}

.div-9-img{
    width: 188px;
height: 96px;
flex-shrink: 0;
margin-top:6px;
display: flex  ;
flex-direction: row;
}

.map{
    width: 598px;
height: 608px;
flex-shrink: 0;
border-radius: 128px 32px 32px 32px;
background: #D9D9D9;
border: none;
float: right;
margin-right: 156px;
margin-top:-650px;
}

.div-10{
    margin-left: 259px;
    width: 1218px;
height: 170px;
border-radius: 128px 32px 32px 32px;
background: linear-gradient(9deg, #e3256b -73.89%, rgba(208, 73, 103, 0.00) 119.54%, rgba(208, 73, 103, 0.42) 119.54%);
display: flex;
flex-direction: row;
justify-content: space-around;
}

.section-div-10{
    width: 690px;
height: 62px;
flex-shrink: 0;
margin-top: 48px;
}

.h1-div-10{
    width: 258px;
    color: var(---100, #5C4948);

/* Headline3 */
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 142.857% */
}

.p-div-10{
    width: 690px;
    color: var(---100, #5C4948);

/* body2 */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}

.button-div-10{
    display: flex;
width: 197px;
height: 48px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
background:  #e3256b;
color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */
margin-top:65px;
}

.footer{
    width: 1708px;
    height: 228px;
    background: var(---10, rgba(92, 73, 72, 0.25));
stroke-width: 1px;
stroke: #000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
margin-top:252px;
display: flex;
flex-direction: column;

}

.f-f{
    width: 842px;
height: 130px;
flex-shrink: 0;
margin-left:300px;
display: flex;
flex-direction: row;
}

.section-footer-1{
    width: 254.701px;
height: 130px;
flex-shrink: 0;
margin-top:19px;

}

.h1-footer{
    width: 90.787px;
    color: #000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 19px;
}

.color-txt{
    color:  #e3256b;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.p-footer{
    color: var(---100, #5C4948);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* body2 */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; 
margin-top: 18px;

}

.section-footer-2{
    width: 137.678px;
height: 104px;
flex-shrink: 0;
margin-left:35px;
margin-top:23px
}

.h2-footer{
    width: 98.769px;
    color: var(---100, #5C4948);
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Label */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
margin-top:23px;
}

.p1-footer{
    color: var(---100, #5C4948);
text-align: left;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* body2 */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
width: 141.668px;

}

.ul-footer-1{
    margin-top:18px;
    list-style: none;
}

.section-footer-3{
    width: 144.661px;
height: 104px;

flex-shrink: 0;
margin-left:81px;
margin-top:23px
}

.ul-footer-2{
    margin-top:18px;
    list-style: none;
}

.h2-footer-2{
    width: 98.769px;
    color: var(---100, #5C4948);
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Label */
font-family: Montserrat-Medium;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
margin-top:23px;
white-space: pre;
}

.section-footer-4{
    width: 120px;
height: 71px;
flex-shrink: 0;

flex-shrink: 0;
margin-left:68px;
margin-top:23px
}

.img-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.img-footer{
    width: 39px;
height: 45px;
flex-shrink: 0;

}

.div-footer{
    width: 1708px;
height: 39px;
flex-shrink: 0;
background: var(---50, rgba(92, 73, 72, 0.50));
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-top:59px;
display: flex;
justify-content: center;
align-items: center;
}

.p2-footer{
    width: 278.348px;
    color: #000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* body2 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
white-space: pre;
}

